body{
    background-color: #4b535c;
}

.jumbotron.bg {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
        ),
        url('../images/banner.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
 }

 .btn-red {
    background-color: #fa5c5c;
    border-color: #fa5c5c;
 }